
body {
    background-color: #eee;
}
.container {
    width: 400px;
    margin: 0 auto;
}
.form-container {
    width: 50%;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
ul {
    list-style-type: none;
}
